.navbar-inverse {
  background-color: #39185D;
  border-color: #39185D;
}

html{ /* used for scrolling*/
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%; /* used for scrolling*/
  overflow: auto; /* used for scrolling*/
  padding-top: 50px;
}

section {
  background-color: #39185D;
  border-color: #39185D;
  height: 1920px;
}

footer {
    margin: 50px 0;
}

h2 {
  text-align: center;
}

.row {
  padding-bottom: 50px;
}

.img-center {
  margin: 0 auto;
}
