html { /* used for scrolling */
  overflow: hidden;
  height: 100%;
  background-color: #F7F7F7;
}

body {
  height: 100%; // used for scrolling
  overflow: auto; // used for scrolling
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-weight: 500;
  font-style: bold;
}

section {
  background-color: #39185D;
  border-color: #39185D;
  height: 1920px;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  margin-top: -6px;
  padding-top: 35px;
}

nav .brand-logo {
  padding-left: 20px;
}

nav {
  ul {
    a {
      font-size: 1.35rem;
    }
  }
}

.cover-section, .section-white, .projects-tab {
  height: 800px;
  background-color: #F7F7F7;
}

nav {
    height: 100px;
    line-height: 100px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 100px;
    line-height: 100px;
}

nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav .brand-logo {
    font-size: 2rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 100px;
        line-height: 100px;
    }
}

img {
  margin-top: -1px;
}

.cover-title {
  margin-top: 5%;
  margin-bottom: 5%;
}
